/* a minimalist set of CSS resets */

/* default to border-box */
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* adjust typography defaults */


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
/* Your custom styles */

body {
  font-family: 'Sniglet', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #EAFFE2;
  display:flex; 
  flex-direction:column;
}

header {
  font-family: 'Sniglet', cursive;
  background-color: #399E8D;
  padding: 20px;
}

h2 {
  color: #146356;
  text-align: center;
  border-style: solid;
  border-color: #A3DA8D;
  border-radius: 25px;
  background-color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  font-family: 'Sniglet', sans-serif;
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
}

nav ul li a:hover {
  color: #dddddd;
}

nav ul li a.active {
  color: #dddddd;
}

section {
  padding: 50px;
  background-color: #EAFFE2;
  margin-bottom: 30px;
  color: #052E27;
}

section h2 {
  color: #146356;
  margin-bottom: 20px;
}
section h3 {
  color: #61944D
}

section p {
  font-family: 'sniglet', sans-serif;
  color: #052E27;
}

.resources {
  padding: 5px;
  background-color: #F2FFED;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.map-container {
  padding: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height:450px;
  width:600px;
}

h3 a:link {
  color: #61944D;
}

h3 a:visited {
  color: #A3DA8D;
}

footer {
  background-color: #399E8D;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Game styles */

#game-container {
  position: relative; /* Adds position relative to set position for timer bar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#game-canvas {
  border: 2px solid #1976D2;
  border-radius: 10px;
  background-color: #FFF9E2;
}

#timer-bar-container {
  position: absolute; /* Positions the timer bar at the bottom of the game container */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}

#timer-bar {
  height: 100%;
  background-color: #00C853;
}

#score-display {
  margin-top: 10px; /* Addd some spacing below the canvas for the score display */
  font-size: 24px;
  font-weight: bold;
}
#game-over-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-over-screen h3 {
  color: #ffffff;
  font-size: 40px;
}

#game-over-screen p {
  color: #ffffff;
  font-size: 24px;
}